*.idea
*.Python
*.iml
*target
*.pyc
*.DS_Store
springCRUD/target/**
springCRUD/.idea/**
src/main/resources/application.properties
redShift/bin/**
redShift/lib/**
redShift/include/**
redShift/pip-selfcheck.json
redShift/.idea/**
redShift/.Python
flaskAssignment/.idea
flaskAssignment/.Python
flaskAssignment/bin
flaskAssignment/lib
flaskAssignment/include
flaskAssignment/pip-selfcheck.json
